body
{
    background-color: #343a40;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #af8402;
    border: none;
    cursor: pointer;
    background-color: #ffc107;
    color: white;
    margin-top: 4%;
}
.btnCopy
{
    width: 70px;
    border-radius: 0.5rem;
    padding-top: 0;
    padding-bottom 2px;
    border-color: #af8402;
    border: 1px;
    cursor: pointer;
    background-color: #ffc107;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 6%;
}
.info{
    width:30px;
    height:30px;
    margin-bottom: 5px;
    margin-right: 10px;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.text-align{
    margin-top: -3%;
    margin-bottom: -9%;
    padding: 10%;
}
.tab-pane{
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    width: 110%;
}
.register-heading{
    margin-bottom: 10%;
    color: #e9ecef;
}
.register-heading h1{
    margin-left: 21%;
    margin-bottom: 10%;
    color: #e9ecef;
}
.btnLoginSubmit{
    border: none;
    padding: 2%;
    width: 25%;
    cursor: pointer;
    background: #29abe2;
    color: #fff;
}
.btnForgetPwd{
    cursor: pointer;
    margin-right: 5%;
    color: #f8f9fa;
}
.register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
    border-radius: 2.5rem;
}
a, li{
    border: 1px solid transparent !important;
    border-top-left-radius: .25rem  !important;
    border-top-right-radius: .25rem  !important;
    color: #343a40  !important;
    background-color: white;
    text-decoration: none !important;
    margin-right: 1px;
    padding: 5px 10px 5px 10px;
}
a:active, li:active, a:hover, li:hover {
    border: 1px solid transparent !important;
    border-top-left-radius: .25rem  !important;
    border-top-right-radius: .25rem  !important;
    color: #343a40  !important;
    background-color: grey;
    text-decoration: none !important;
    margin-right: 1px;
    padding: 5px 10px 5px 10px;
}
a:hover{
    background-color: grey !important;
}
.selectType {
    margin-top: 8px;
    padding: 0;
}
.text-box, .text-box:focus {
    background-color: #343a40;
    color: white;
    text-align: left;
    width: 100%;
    padding-left: 5;
}
option{
    padding: 0;
    min-height:.8em;
}
.progress{
    max-width: 100px;
}
#working{
    background-color: #343a40;
}
.script-axe{
    width:40px;
    height: 40px;
    color: red;
    cursor: pointer;
}