/*///////////////Right Tooltip w/ Left Arrow////////////////*/
.tooltip-col {
    position: relative;
    display: inline-block;
    cursor:pointer;
}

.tooltiptext {
    visibility: hidden;
    width: 150px;
    height:50px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    top: -13px;
    left: 110%;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltip-col:hover .tooltiptext {
    visibility: visible;
}


/*///////////////Left Tooltip w/ Right Arrow////////////////*/ 

.tooltiptext2 {
    visibility: hidden;
    width: auto;
    height:100px;
    background-color: black;
    color: #fff;
    /* text-align: center; */
    font-size: small;
    border-radius: 6px;
    padding: 5px 10px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    top: -13px;
    right: 30px;
}

.tooltiptext2::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.tooltip-col:hover .tooltiptext2 {
    visibility: visible;
}

/*///////////////Bottom Tooltip w/ Top Arrow////////////////*/ 

.tooltiptext3 {
    visibility: hidden;
    width: 150px;
    height: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    top: 30px;
    right: -19px;
}

.tooltiptext3::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 61px;   
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltip-col:hover .tooltiptext3 {
    visibility: visible;
}


/*///////////////Top Tooltip w/ Bottom Arrow////////////////*/ 

.tooltiptext4 {
    visibility: hidden;
    width: 150px;
    height: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    top: -56px;
    right: -19px;
}

.tooltiptext4::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 61px;
    border-width: 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip-col:hover .tooltiptext4 {
    visibility: visible;
}